:root {
	/* Colors */
	--white: #fff;
	--white-2: #d7ccc0;
	--grey: #f5f4f0;
	--main-color: #fe8a02;
	--main-color-dark: #ea7600;
	--dark: #42413c;
	--dark-2: #2a2626;
	--dark-3: #908d8b;
	--dark-4: #212529;
	--brown: #b09a81;
	--blue: #1085c5;
	--black: #000;

	/* Fonts */
	--main-font: "Open Sans", verdana, sans-serif;
	--title-font: "Neucha", verdana, sans-serif;
}

/* Positioning properties */
.pos-r {
	position: relative;
}

.pos-a {
	position: absolute;
}

.t-55 {
	top: 55px;
}

.r-m270 {
	right: -270px;
}

.z-10 {
	z-index: 10;
}

.z-m10 {
	z-index: -10;
}

.col-count-2 {
	column-count: 2;
}

.col-gap-30 {
	column-gap: 30px;
}

.br-ins-av {
	break-inside: avoid;
}

.br-aft-col {
	break-after: column;
}

/* Properties that define box-model */
.d-b {
	display: block;
}

.d-ib {
	display: inline-block;
}

.d-flx {
	display: flex;
}

.flx-wr-r {
	flex-wrap: wrap;
}

.flx-grw-1 {
	flex-grow: 1;
}

.js-cont-spc-btw {
	justify-content: space-between;
}

.js-cont-cntr {
	justify-content: center;
}

.ai-c {
	align-items: center;
}

.min-h-100vh {
	min-height: 100vh;
}

.h-525 {
	height: 525px;
}

.h-569 {
	height: 569px;
}

.h-50 {
	height: 50px;
}

.w-100 {
	width: 100%;
}

.max-w-1110 {
	max-width: 1110px;
}

.max-w-919 {
	max-width: 919px;
}

.max-w-578 {
	max-width: 578px;
}

.max-w-540 {
	max-width: 540px;
}

.max-w-500 {
	max-width: 500px;
}

.max-w-475 {
	max-width: 475px;
}

.max-w-350 {
	max-width: 350px;
}

.max-w-70 {
	max-width: 70px;
}

.max-w-20 {
	max-width: 20px;
}

.bx-sz-bd-bx {
	box-sizing: border-box;
}

.mt-0 {
	margin-top: 0;
}

.mt-5 {
	margin-top: 5px;
}

.mt-100 {
	margin-top: 100px;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-32 {
	margin-bottom: 32px;
}

.mb-34 {
	margin-bottom: 34px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-75 {
	margin-bottom: 75px;
}

.mb-m100 {
	margin-bottom: -100px;
}

.mb-185 {
	margin-bottom: 185px;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.pt-0 {
	padding-top: 0;
}

.pt-5 {
	padding-top: 5px;
}

.pt-12 {
	padding-top: 12px;
}

.pt-24 {
	padding-top: 24px;
}

.pt-38 {
	padding-top: 38px;
}

.pt-100 {
	padding-top: 100px;
}

.pt-116 {
	padding-top: 116px;
}

.pt-200 {
	padding-top: 200px;
}

.pb-0 {
	padding-bottom: 0;
}

.pb-5 {
	padding-bottom: 5px;
}

.pb-12 {
	padding-bottom: 12px;
}

.pb-24 {
	padding-bottom: 24px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-110 {
	padding-bottom: 110px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-15 {
	padding-left: 15px;
}

.pl-24 {
	padding-left: 24px;
}

.pl-26 {
	padding-left: 26px;
}

.pl-55 {
	padding-left: 55px;
}

.pr-15 {
	padding-right: 15px;
}

.pr-24 {
	padding-right: 24px;
}

.pr-26 {
	padding-right: 26px;
}

.pr-55 {
	padding-right: 55px;
}

.bd-0 {
	border: 0;
}

/* Typography properties */
.ff-main {
	font-family: var(--main-font);
}

.ff-title {
	font-family: var(--title-font);
}

.fw-400 {
	font-weight: 400;
}

.fw-700 {
	font-weight: 700;
}

.fsz-12 {
	font-size: 12px;
}

.fsz-14 {
	font-size: 14px;
}

.fsz-16 {
	font-size: 16px;
}

.fsz-18 {
	font-size: 18px;
}

.fsz-24 {
	font-size: 24px;
}

.fsz-34 {
	font-size: 34px;
}

.fsz-52 {
	font-size: 52px;
}

.fsz-60 {
	font-size: 60px;
}

.fsz-64 {
	font-size: 64px;
}

.fsz-72 {
	font-size: 72px;
}

.lh-1-2em {
	line-height: 1.2em;
}

.lh-1-6em {
	line-height: 1.6em;
}

.td-n {
	text-decoration: none;
}

.tt-up {
	text-transform: uppercase;
}

.ta-c {
	text-align: center;
}

/* Properties that determine visual appearance */
.bg-im-main {
	background-image: url("../images/background.png");
}

.bgr-no-r {
	background-repeat: no-repeat;
}

.bgs-cover {
	background-size: cover;
}

.bgc-grey {
	background-color: var(--grey);
}

.bgc-main {
	background-color: var(--main-color);
}

.bgc-white {
	background-color: var(--white);
}

.bgc-dark {
	background-color: var(--dark);
}

.bgc-brown {
	background-color: var(--brown);
}

.color-main {
	color: var(--main-color);
}

.color-dark {
	color: var(--dark);
}

.color-dark-2 {
	color: var(--dark-2);
}

.color-dark-3 {
	color: var(--dark-3);
}

.color-dark-4 {
	color: var(--dark-4);
}

.color-white {
	color: var(--white);
}

.color-white-2 {
	color: var(--white-2);
}

.color-brown {
	color: var(--brown);
}

.color-black {
	color: var(--black);
}

.color-blue {
	color: var(--blue);
}

.ov-h {
	overflow: hidden;
}

.fltr-drp-shdw {
	filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.cur-poi {
	cursor: pointer;
}

/* Properties of animation */
.trs-dur-03 {
	transition-duration: 0.3s;
}

.trs-dur-05 {
	transition-duration: 0.5s;
}

.trs-prop-bgc {
	transition-property: background-color;
}

/* Properties that don't fall into any category */
.bef::before {
	content: "";
}

.bef-pos-a::before {
	position: absolute;
}

.bef-t-0::before {
	top: 0;
}

.bef-l-0::before {
	left: 0;
}

.bef-r-0::before {
	right: 0;
}

.bef-b-0::before {
	bottom: 0;
}

.bef-bgi-main::before {
	background-image: url("../images/background.png");
}

.bef-bgi-send::before {
	background-image: url("../images/send.svg");
}

.bef-bgs-cover::before {
	background-size: cover;
}

.bef-bgr-no-r::before {
	background-repeat: no-repeat;
}

.bef-bgr-pos-cntr::before {
	background-position: center;
}

.bef-bgr-size-20::before {
	background-size: 20px;
}

.bef-opa-06::before {
	opacity: 0.06;
}

.hov-bgc-main:hover {
	background-color: var(--main-color);
}

.hov-bgc-main-dark:hover {
	background-color: var(--main-color-dark);
}

.ph-fsz-13::placeholder {
	font-size: 13px;
}

.ph-color::placeholder {
	color: rgb(117 117 117 / 20%);
}

.fcs-vis-outl-col-main-dark:focus-visible {
	outline-color: var(--main-color-dark);
}

.fcs-vis-outl-stl-dshd:focus-visible {
	outline-style: dashed;
}

.fcs-vis-outl-ofst-m2 {
	outline-offset: -2px;
}

.card:hover > * {
	color: var(--white);
}

@media (max-width: 1199px) {
	header,
	main,
	footer {
		display: none;
	}
}

@media (min-width: 1200px) {
	.media-notification {
		display: none;
	}
}
